.post-date{
  background: #f4f4f4;
  display: block;
  padding: 4px;
  margin:  3px 0;
}

.pagination-links{
   margin: 30px 2px;
}

.pagination-links strong{
  padding: 8px 13px;
  margin:  5px;
  border:  1px #ccc solid;
  background: #f4f4f4;
}

.pagination-link{
  padding: 8px 13px;
  margin:  3px;
  border:  1px #ccc solid;
  background: #f4f4f4;
}